@import url("https://fonts.googleapis.com/css?family=Raleway:300");
@import url("https://fonts.googleapis.com/css?family=Rubik:300");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700,400");
body {
  overflow-x: hidden; }

#home {
  background: -webkit-linear-gradient(#ff8e01, #febc01);
  background: linear-gradient(#ff8e01, #febc01);
  background-size: 100% 100%;
  width: 100%;
  height: 100vh; }
  @media (max-width: 600px) {
    #home header nav .menuHidden {
      display: none; } }
  #home header nav .list {
    position: relative;
    z-index: 100;
    display: none;
    float: right;
    padding: 20px;
    padding-bottom: 0;
    fill: black;
    cursor: pointer; }
    @media (max-width: 600px) {
      #home header nav .list {
        display: block; }
        #home header nav .list:hover {
          fill: #3d44c4; } }
  #home header nav ul {
    list-style-type: none;
    float: right;
    padding-top: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 600px) {
      #home header nav ul {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0;
        top: -100%; } }
    #home header nav ul li {
      padding-right: 3em;
      font-weight: bold;
      font-family: sans-serif;
      text-align: center;
      flex-grow: 1;
      font-size: 1.2em;
      font-family: "Open Sans", Arial, sans-serif; }
      @media (max-width: 600px) {
        #home header nav ul li {
          width: 100%;
          height: 20%;
          background: white;
          position: relative;
          z-index: 10;
          padding: 0; } }
      #home header nav ul li a {
        color: black;
        text-decoration: none; }
        #home header nav ul li a:hover {
          color: #3d44c4; }
        @media (max-width: 600px) {
          #home header nav ul li a {
            position: absolute;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); } }
  #home header nav::after {
    display: table;
    content: "";
    clear: both; }
  #home h1 {
    z-index: 2;
    text-align: center;
    margin-top: 3em; }
    @media (max-height: 500px) {
      #home h1 {
        margin-top: 0.5em; } }
    #home h1 .h1container {
      display: inline-block; }
      #home h1 .h1container span:first-child {
        color: #3d44c4;
        font-family: "Raleway", Arial, sans-serif;
        font-weight: 300; }
      #home h1 .h1container span {
        display: block;
        float: left;
        padding: 0;
        margin: 0;
        font-family: "Rubik", Arial, sans-serif; }
  #home .foreground {
    position: absolute;
    top: 40vh;
    height: 60vh;
    width: 100%;
    z-index: 2; }
    @media (max-height: 800px) and (max-width: 900px) {
      #home .foreground {
        top: 50vh;
        height: 50vh; } }
    @media (max-height: 600px) and (max-width: 900px) {
      #home .foreground {
        top: 60vh;
        height: 40vh; } }
    @media (max-height: 400px) and (max-width: 1100px) {
      #home .foreground {
        top: 70vh;
        height: 30vh; } }
    @media (max-height: 400px) and (max-width: 600px) {
      #home .foreground {
        top: 80vh;
        height: 20vh; } }
    #home .foreground .people1, #home .foreground .people2 {
      background: url("../img/people1.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center bottom;
      height: 100%;
      width: 50%;
      float: left; }
    #home .foreground .people2 {
      background: url("../img/people2.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center bottom; }
  #home .poles {
    position: absolute;
    top: 70vh;
    height: 30vh;
    width: 100%;
    background: url("../img/pole.png");
    background-size: contain;
    background-repeat: repeat-x; }
    @media (max-height: 800px) and (max-width: 900px) {
      #home .poles {
        top: 75vh;
        height: 25vh; } }
    @media (max-height: 600px) and (max-width: 900px) {
      #home .poles {
        top: 80vh;
        height: 20vh; } }
    @media (max-height: 400px) and (max-width: 1100px) {
      #home .poles {
        top: 85vh;
        height: 15vh; } }
    @media (max-height: 400px) and (max-width: 600px) {
      #home .poles {
        top: 90vh;
        height: 10vh; } }
    @media (max-width: 400px) {
      #home .poles {
        top: 80vh;
        height: 20vh; } }
  #home h2 {
    text-align: center;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    padding-bottom: 0.5em;
    font-weight: bold;
    z-index: 2;
    position: relative; }
  #home .bird {
    background: url(../img/bird.png);
    height: 50px;
    width: 50px;
    margin: 0 auto;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat; }

#about {
  width: 100%;
  margin-top: -5vh;
  border-top: 5vh solid black;
  text-align: center;
  margin-bottom: 10vh; }
  #about h2 {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 30px; }
  #about .headline {
    display: inline-block;
    background: url(../img/banner.svg);
    background-position: center center;
    background-size: 100% 100%;
    margin: 0 auto;
    margin-bottom: -10px;
    padding: 5px;
    position: relative;
    z-index: 20;
    font-size: 18px;
    color: black;
    width: 150px;
    color: black; }
    #about .headline .blockleft {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid white; }
  #about > img {
    display: block;
    border-radius: 50%;
    border: 6px #3d44c4 solid;
    background-size: 100% 100%;
    background-position: center center;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: -20px;
    z-index: 1;
    position: relative; }
  #about > p {
    width: 70%;
    margin: 0 auto;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 18px;
    text-align: left;
    padding-bottom: 20px; }
  #about .skillbanner {
    z-index: 2;
    width: 100%;
    background: #3d44c4;
    position: relative;
    box-shadow: 0 0 30px 0 black;
    text-align: center;
    padding: 20px 0 30px 0;
    margin-bottom: 10vh; }
    #about .skillbanner .images {
      display: inline-block;
      -webkit-box-pack: distribute;
      -moz-box-pack: distribute;
      box-pack: distribute;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      -o-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: distribute;
      height: 70px; }
      #about .skillbanner .images .skill {
        height: 100%;
        flex-grow: 1;
        background-position: center center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        width: 120px;
        position: relative; }
        #about .skillbanner .images .skill p {
          position: absolute;
          top: 105%;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          font-family: "Open Sans", Arial, sans-serif;
          color: #131b28; }
      #about .skillbanner .images #html5 {
        background-image: url(../img/skills/html5.svg); }
      #about .skillbanner .images #css3 {
        background-image: url(../img/skills/css3.svg); }
      #about .skillbanner .images #jquery {
        background-image: url(../img/skills/jquery.svg); }
      #about .skillbanner .images #js {
        background-image: url(../img/skills/javascript.svg); }
      #about .skillbanner .images #node {
        background-image: url(../img/skills/node.svg); }
      #about .skillbanner .images #php {
        background-image: url(../img/skills/php.svg); }
      #about .skillbanner .images #wordpress {
        background-image: url(../img/skills/wordpress.svg); }
      #about .skillbanner .images::after {
        display: table;
        content: "";
        clear: both; }

#work {
  width: 100%;
  text-align: center; }
  #work h2 {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 30px; }
  #work .carousel {
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 20px; }
    #work .carousel .imgcontainer {
      display: none;
      position: absolute;
      height: 200px;
      width: 400px;
      box-shadow: 0px 2px 10px 0px black; }
      #work .carousel .imgcontainer:hover .overlay {
        visibility: visible; }
      #work .carousel .imgcontainer .overlay {
        visibility: hidden;
        z-index: 2;
        background: rgba(0, 0, 0, 0.85);
        height: 100%;
        width: 100%;
        margin-bottom: -200px;
        position: relative; }
        #work .carousel .imgcontainer .overlay p {
          display: none;
          position: absolute;
          color: white;
          font-family: "Raleway", Arial, sans-serif;
          font-size: 50px;
          left: 50%;
          top: 20%;
          transform: translate(-50%, -50%);
          text-align: center; }
        #work .carousel .imgcontainer .overlay .hidden {
          display: none;
          visibility: hidden; }
        #work .carousel .imgcontainer .overlay button {
          display: none;
          position: absolute;
          color: white;
          background: #cb2121;
          outline: none;
          border: none;
          font-size: 30px;
          padding: 10px 20px;
          left: 50%;
          bottom: 5%;
          transform: translate(-50%, -50%);
          text-align: center;
          z-index: 20; }
          #work .carousel .imgcontainer .overlay button:hover {
            background-color: #dc2929; }
          #work .carousel .imgcontainer .overlay button:active {
            background-color: #b51d1d; }
      #work .carousel .imgcontainer img {
        height: 100%;
        width: 100%; }
    #work .carousel .leftImg {
      display: block;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer; }
    #work .carousel .rightImg {
      display: block;
      right: 0;
      top: 50%;
      transform: translate(50%, -50%);
      cursor: pointer; }
    #work .carousel .midImg {
      display: block;
      height: 400px;
      width: 700px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      #work .carousel .midImg .overlay {
        margin-bottom: -400px; }
      #work .carousel .midImg:hover p, #work .carousel .midImg:hover button {
        display: block; }
  #work p {
    width: 70%;
    margin: 0 auto;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 35px;
    padding-bottom: 20px; }

#services {
  text-align: center; }
  #services h2 {
    /*font-family: $h2font;*/
    font-size: 30px; }
  #services .option {
    width: 80%;
    margin: 0 auto; }
    #services .option .optionimgcontainer {
      width: 25%;
      height: 100px;
      margin-top: 25px;
      float: left;
      position: relative; }
      #services .option .optionimgcontainer img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    #services .option .infocontainer {
      float: left;
      padding: 0;
      margin: 0;
      width: 70%;
      text-align: center; }
    #services .option:after {
      content: "";
      display: table;
      clear: both; }

#contact {
  margin-top: 30px;
  background: #3d44c4;
  height: 100vh;
  text-align: center;
  position: relative; }
  #contact button {
    background: #C00B0B;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 20px;
    outline: none;
    border: none;
    margin-bottom: 20px; }
    #contact button:hover {
      background: #d80c0c; }
    #contact button:active {
      background: #a80a0a; }
  #contact h4 {
    margin-top: 0;
    padding-top: 0;
    font-size: 40px;
    color: white;
    font-family: Arial; }
  #contact .social {
    list-style-type: none;
    width: 90%;
    height: 50%;
    margin: 0 auto; }
    #contact .social li {
      float: left;
      position: relative;
      height: 100%;
      width: 33%; }
      #contact .social li .bubble {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 160px;
        width: 160px;
        border-radius: 100%;
        background: white;
        background-size: cover;
        cursor: pointer; }
      #contact .social li #linkedin {
        background-image: url("../img/linkedin.jpg"); }
      #contact .social li #twitter {
        background-image: url("../img/twitter.png"); }
      #contact .social li #github {
        background-image: url("../img/github.jpg"); }
  #contact p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    color: white; }
    #contact p a {
      color: #089BE7; }

.realtimechat {
  position: fixed;
  z-index: 50;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 30px;
  background: #D1D1FF;
  border: 1px solid black; }
  .realtimechat header {
    width: 100%;
    height: 30px;
    background: #3d44c4;
    border-bottom: 1px solid black;
    cursor: pointer;
    position: relative; }
    .realtimechat header p {
      color: white;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
  .realtimechat #chatbox {
    display: block;
    height: 225px;
    width: 99%;
    padding: 5px;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden; }
  .realtimechat .me {
    margin: 0;
    padding: 5px;
    background: white;
    float: left;
    margin-left: 10px;
    display: block;
    width: 90%;
    min-height: 20px; }
  .realtimechat .you {
    margin: 0;
    padding: 5px;
    padding-left: 10px;
    background: #38B3F9;
    float: right;
    margin-right: 20px;
    display: block;
    width: 70%;
    min-height: 20px; }
  .realtimechat .first {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 5px;
    margin-top: 8px; }
  .realtimechat .last {
    padding-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
  .realtimechat input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    display: block; }

/*# sourceMappingURL=style.css.map */
